body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

main.container-fluid {    
    background-color:rgb(91, 147, 231) !important;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.container-fluid bg-secondary text-center

a .navbar-brand {
    margin: 0.3em !important;
    border-bottom: solid rgb(91, 147, 231) thin;
    background-color:white;
}

.logo {
    margin-left: 0.3em;
}

nav .navbar-dark {
    padding: 0 0.3em;
}

menu .nav-item {
    padding: 0 0.8em
}

footer a {
    float: right;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

