main.container-fluid {    
    background-color:rgb(91, 147, 231) !important;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
    background-color:darkgrey;
    min-height: 80px;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.logo {
    margin-left: 0.3em;
}

.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  .quote {
    font-style: italic;
  }
  
  .author {
    font-weight: bold;
    text-align: right;
  }
  
  .author::before {
    content: " - ";
  }

